.aboutSection {
  display: flex;
  padding: 2px;
  height: auto;
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
  padding: 2.8rem 0 12rem 0;
  max-width: 850px;
  margin: 0px auto;
  /* color: #d2f5f0; */
  color: #acc8c3;
  gap: 25px;
}

.strongLink {
  font-weight: 700;
  color: #fff;
  opacity: 100%;
  text-decoration: none;
}

.aboutHeading {
  margin-left: 12px;
  text-align: left;
  letter-spacing: 1.2px;
  font-size: 2.4rem;
  color: #6aead6;
  font-weight: 400;
}

.aboutDescription {
  display: grid;
  border: solid rgba(255, 255, 255, 0.03);
  border-radius: 0.5em;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 120px;
  grid-template-areas:
    "a a a a a b b b b"
    "a a a a a b b b b"
    "a a a a a b b b b"
    "a a a a a b b b b";
  align-items: center;
  /* max-width: 836px; */
  font-family: "Inter";
}

.aboutText__grid {
  grid-area: a;
  font-size: 1.5em;
  opacity: 70%;
  font-weight: 400;
  padding: 10px;
  line-height: 1.625;
  margin-top: -15px;
}

.aboutParagraph__first {
  margin-bottom: 15px;
  line-height: 1.625;
}

.aboutParagraph__second {
  margin-bottom: 15px;
  line-height: 1.625;
}

.aboutParagraph__third {
  line-height: 1.625;
}

.aboutImage__grid {
  grid-area: b;
  grid-row: 2;
  padding-bottom: 55px;
  padding-left: 12px;
}

.aboutAuthor__image {
  opacity: 40%;
  border-radius: 6px;
  filter: grayscale(100%);
  width: 290px;
}

.aboutAuthor__image:hover {
  filter: none;
  opacity: 100%;
  transition: 1.8s;
}

.workLinks {
  color: #d2f5f0;
  text-decoration: underline;
}

/*
*********************
BELOW 944px (Tablets)
*********************
*/
@media (max-width: 59em) {
  .aboutSection {
    padding: 0;
    min-height: 400px;
    margin-bottom: 140px;
  }

  .aboutHeading {
    margin-left: 0px;
    font-size: 2.4em;
    padding-bottom: 0px;
  }

  .aboutDescription {
    margin-left: 0px;
    grid-template-areas:
      "a a a"
      "a a a"
      "a a a"
      "b b b"
      "b b b";
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
  }

  .aboutText__grid {
    font-size: 1.5em;
    margin-top: -50px;
  }

  .aboutImage__grid {
    grid-area: b;
    grid-row: 0;
  }
}

/*
*********************
BELOW 704px (Smaller Tablets)
*********************
*/
@media (max-width: 44em) {
  .aboutSection {
    padding: 0;
    min-height: 400px;
    margin-bottom: 140px;
  }

  .aboutHeading {
    margin-left: 0px;
    font-size: 2.4em;
    padding-bottom: 0px;
  }

  .aboutDescription {
    margin-left: 0px;
    grid-template-areas:
      "a a a"
      "a a a"
      "a a a"
      "a a a"
      "b b b"
      "b b b";
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
    /* padding: 8px; */
  }

  .aboutText__grid {
    font-size: 1.5em;
    margin-top: -50px;
    opacity: 90%;
  }

  .aboutImage__grid {
    padding-left: 95px;
    grid-area: b;
    grid-row: 0;
  }
}

/*
*********************
BELOW 544px (Phones)
*********************
*/

@media (max-width: 34em) {
  .aboutHeading {
    margin-left: 10px;
    font-size: 2.2em;
  }

  .aboutSection {
    padding: 0;
    margin-bottom: 140px;
    row-gap: 0px;
  }

  .aboutDescription {
    margin-left: 0px;
    grid-template-areas:
      "a a a"
      "a a a"
      "a a a"
      "a a a"
      "a a a"
      "b b b"
      "b b b";
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    border: none;
  }

  .aboutText__grid {
    margin-top: 2px;
    padding: 10px;
    text-align: left;
    font-size: 1.5em;
  }

  .aboutAuthor__image {
    margin-top: 30px;
    margin-left: -25px;
    width: 86%;
    height: 75%;
    border-radius: 12px;
  }

  .aboutParagraph__first {
    font-weight: 400;
    opacity: 80%;
  }

  .aboutParagraph__second {
    font-weight: 400;
    opacity: 80%;
  }

  .aboutParagraph__third {
    font-weight: 400;
    opacity: 80%;
  }
}

/*
*********************
BELOW 400px (Phones)
*********************
*/
@media (max-width: 25em) {
  .aboutSection {
    padding: 0;
    margin-bottom: 140px;
    /* row-gap: 15px; */
  }

  .aboutDescription {
    margin-left: 0px;
    grid-template-areas:
      "a a a"
      "a a a"
      "a a a"
      "a a a"
      "b b b"
      "b b b"
      "b b b";
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .aboutText__grid {
    margin-top: -60px;
    padding: 10px;
    text-align: left;
    font-size: 1.5em;
  }

  .aboutImage__grid {
    padding-left: 60px;
  }

  .aboutAuthor__image {
    margin-top: 120px;
    width: 80%;
  }
}

/*
*********************
BELOW 390.4px
*********************
*/
@media (max-width: 24.4em) {
  .aboutSection {
    padding: 0;
    margin-bottom: 140px;
  }

  .aboutDescription {
    margin-left: 0px;
    grid-template-areas:
      "a a a"
      "a a a"
      "a a a"
      "a a a"
      "b b b"
      "b b b"
      "b b b"
      "b b b";
    grid-template-columns: repeat(3, 1fr);
  }

  .aboutText__grid {
    margin-top: 200px;
    text-align: left;
    font-size: 1.5em;
  }

  .aboutImage__grid {
    padding-left: 30px;
  }

  .aboutAuthor__image {
    padding: 5px;
    margin-top: 190px;
    margin-left: 15px;
    width: 80%;
  }
}

/*
*********************
BELOW 375px
*********************
*/
@media (max-width: 23.5em) {
  .aboutText__grid {
    margin-top: 200px;
  }

  .aboutAuthor__image {
    margin-top: 200px;
    margin-left: 15px;
    width: 80%;
  }

  .aboutDescription {
    margin-left: 0px;
    grid-template-areas:
      "a a a"
      "a a a"
      "a a a"
      "a a a"
      "b b b"
      "b b b"
      "b b b"
      "b b b";
    grid-template-columns: repeat(3, 1fr);
  }

  .aboutParagraph__first {
    margin-bottom: 5px;
  }
}

/*
*********************
BELOW 360px
*********************
*/

@media (max-width: 22.5em) {
  .aboutText__grid {
    margin-top: 215px;
    text-align: left;
    font-size: 1.5em;
  }
  .aboutAuthor__image {
    margin-top: 90px;
    margin-left: 15px;
    width: 80%;
  }

  .aboutDescription {
    margin-left: 0px;
    grid-template-areas:
      "a a a"
      "a a a"
      "a a a"
      "a a a"
      "b b b"
      "b b b"
      "b b b"
      "b b b"
      "b b b";
    grid-template-columns: repeat(3, 1fr);
  }
  .aboutParagraph__first {
    margin-bottom: 15px;
  }
}
